/// responsive typography
/// Source: http://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/

/*
Example:

p {
	@include font-size($p-font-sizes);
}

*/

body {
	font-family: $font-family-sans-serif;
	font-weight: $font-weight-regular;
	line-height: $font-line-height;
	color: $light-grey;
	background: $dark-blue;
	@include fluid-size(18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2 {
	font-weight: 300;
	@include fluid-size(54px);
	margin-bottom: .5em;
}

h3 {
	font-weight: 300;
	@include fluid-size(32px);
	line-height: 1.3;
	margin-bottom: .5em;
}

h4 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.3;
	margin-bottom: .5em;
	color: $medium-grey;
}

a {
	color: currentColor;
	text-decoration: none;

	&:not([class]) {
		color: $key;
		border-bottom: 1px solid currentColor;
	}
}

p {
	margin-bottom: 1.75em;
	margin-bottom: .6em;
}

code:not([class]) {
	font-size: .9em;
	background: $very-dark-blue;
	padding: .1em .5em .2em .5em;
	border-radius: 2em;
	color: $key;
	font-family: 'Source Code Pro', monospace;

	.section__code & {
		background: rgba(0, 0, 0, .2);
	}
}