@function add-dashes-to-modifier($modifier: '') {

  @if $modifier != '' {
    $modifier: '#{$modifier}--';
  }

  @return $modifier;

}



@mixin grid-values($modifier, $attribute) {

  @each $grid-base in $grid-bases {

    @for $counter from 1 through $grid-base {
      .#{$modifier}--#{$counter}-#{$grid-base} {
        #{$attribute}: $counter / $grid-base * 100%;
      }
    }

    .#{$modifier}--none {
      #{$attribute}: 0%;
    }

  }

}



@mixin grid-gutters($gutters, $modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  @each $name, $width in $gutters {

    .#{$modifier}grid--#{$name} {
      @if unit($width) == '%' {
        width: 100% + $width;
      }
      @else {
        width: calc(100% + #{$width});
      }
      margin-left: -$width;
      @if $grid-gutter-vertical {
        margin-bottom: -$width;
      }
      > .grid-item {
        padding-left: $width;
        @if $grid-gutter-vertical {
          padding-bottom: $width;
        }
      }

    }

  }

}