// helper classes

.grid-item__fill-wrapper {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  //align-items: flex-start;
  width: 100%;
  // IE10-11 bugfix
  > img {
    flex-shrink: 0;
  }
}

.grid-item__fill {
  flex: 1 0 auto;
  width: 100%;
}