@mixin grid-reverse($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--reverse {
    direction: rtl;
    text-align: left;
    > .grid__item {
      direction: ltr;
      text-align: left;
    }
  }

}

@mixin grid-left($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--left {
    justify-content: flex-start;

    @if $grid-fallback {
      .no-flexbox & {
        text-align: left;
        > .grid__item {
          text-align: left;
        }
      }
    }
  }

}

@mixin grid-center($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--center {
    justify-content: center;

    @if $grid-fallback {
      .no-flexbox & {
        text-align: center;
        > .grid__item {
          text-align: left;
        }
      }
    }
  }

}

@mixin grid-right($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--right {
    justify-content: flex-end;

    @if $grid-fallback {
      .no-flexbox & {
        text-align: right;
        > .grid__item {
          text-align: left;
        }
      }
    }
  }

}

@mixin grid-top($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--top {
    > .grid-item {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      @if $grid-fallback {
        .no-flexbox & {
          vertical-align: top;
        }
      }
    }
  }

}

@mixin grid-middle($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--middle {
    > .grid-item {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @if $grid-fallback {
        .no-flexbox & {
          vertical-align: middle;
        }
      }
    }
  }

}

@mixin grid-bottom($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--bottom {
    > .grid-item {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      @if $grid-fallback {
        .no-flexbox & {
          vertical-align: bottom;
        }
      }
    }
  }

}

@mixin grid-equal($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--equal {
    > .grid-item {
      flex-direction: row;
      align-items: stretch;
    }
  }

}

@mixin grid-between($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--between {
    justify-content: space-between;

    @if $grid-fallback {
      .no-flexbox & {
        text-align: center;
        > .grid__item {
          text-align: left;
        }
      }
    }
  }

}

@mixin grid-around($modifier: '') {

  $modifier: add-dashes-to-modifier($modifier);

  .#{$modifier}grid--around {
    justify-content: space-around;

    @if $grid-fallback {
      .no-flexbox & {
        text-align: center;
        > .grid__item {
          text-align: left;
        }
      }
    }
  }

}