// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$white: #fff;
$black: #000;
$medium-grey: #66737f;
$light-grey: #B3B8C3;
$dark-blue: #20242D;
$very-dark-blue: #1a1d24;
$key: #B04B57;

// ----------------------------------------------------------------------------
// Animations
// ----------------------------------------------------------------------------

$ease: cubic-bezier(.645, .045, .355, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// ----------------------------------------------------------------------------
// Z-index Layer
// ----------------------------------------------------------------------------

// A map of z layers
// Used in: scss/utilities/_z-index.scss

$z-layers: (
	'modal':            9000,
	'overlay':          8000,
	'dropdown':         7000,
	'navigation':       6000,
	'footer':           5000,
	'tooltip':          4000,
	'header':           1000,
	'default':             1,
	'bottomless-pit':  -9000
);

// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

// A map of media query breakpoints
// Used in: scss/utilities/_breakpoints.scss

$breakpoints: (
	'x-small':   350px,
	'small':     600px,
	'medium':    800px,
	'large':     1000px,
	'x-large':   1400px,
	'xx-large':  1800px,
	'xxx-large':  2300px
);

// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------

// Content Container
$max-width:  1920px;

// Baseline
$rem-baseline: 16px !default;

// ----------------------------------------------------------------------------
// Debug
// ----------------------------------------------------------------------------

%debug {
	background: rgba(255,0,0, .1);
}

// ----------------------------------------------------------------------------
// Typo
// ----------------------------------------------------------------------------

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-line-height: 1.4;

// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

$grid-settings: (
	breakpoints: (
		small: 'only screen and (min-width: 400px)',
		medium: 'only screen and (min-width: 700px)',
		large: 'only screen and (min-width: 1200px)',
	),
	bases: (
		8,
		12,
	),
	gutters: (
		none: 0em,
		narrow: .7em,
		normal: 1.25em,
		wide: 2.5em,
		x-wide: 4em,
	),
	default-gutter: 1.25em,
	gutter-breakpoints: true,
	vertical-gutters: true,
	fallback: true,
	fallback-markup-fix: true,
	grid-modifiers: (
		left,
		center,
		right,
		top,
		middle,
		bottom,
		forwards,
		backwards,
		between,
		around,
		equal,
	),
	grid-modifier-breakpoints: true,
	item-modifiers: (
		first,
		last,
		reset-order,
		push,
		pull,
		auto,
	),
	item-modifier-breakpoints: true,
);