.badge {

	$badge-size: 10em;

	position: absolute;
	width: $badge-size;
	height: $badge-size;
	font-size: .85em;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: .05em;
	top: 0;
	right: 0;
	z-index: 100;
	text-align: center;
	white-space: nowrap;
	pointer-events: none;

	@include min-width(small) {
		position: fixed;
	}

	&__inner {
		position: relative;
		transform: rotate(45deg);
		background: $key;
		padding: .5em 0;
		width: 200%;
		top: 17%;
		left: -35%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 0 3em 0 rgba(0, 0, 0, .4);
		}
	}

	&__row {
		display: block;
	}

}