.button {

	display: inline-block;
	color: inherit;
	line-height: 1;
	padding: 1em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	min-width: 10em;
	border-radius: 2em;
	border: 3px solid currentColor;
	transition: border .2s $ease, color .2s $ease, background .2s $ease;

	&--split {

		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right-width: 1px;
		}

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-width: 2px;
		}

	}

	&--key {
		color: $key;

		&:hover {
			color: $dark-blue;
			border: 3px solid $key;
			background: $key;
		}
	}

}