.button {

	display: inline-block;
	line-height: 1;
	padding: .8em 1.5em;
	margin-bottom: 1em;
	font-size: .75em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .1em;
	border-radius: 2em;
	border: 3px solid currentColor;
	transition: border .2s $ease, color .2s $ease, background .2s $ease;
	color: $key;
	cursor: pointer;

	& + & {
		margin-left: .5em;
	}

	&:hover,
	&.is-active {
		color: $dark-blue;
		border: 3px solid $key;
		background: $key;
	}

	&--large {
		font-size: 1em;
		padding: 1em 1.5em;
		border: 3px solid currentColor;
	}

	&--split {

		@include min-width(small) {
			min-width: 10em;
		}

		& + & {
			margin: 0;
		}

		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right-width: 1px;
		}

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-width: 2px;
		}

	}

}