.demo {

	&__item {
		padding: .25em .5em;
		border: 3px solid $light-grey;
		min-height: 2.2em;
		flex-grow: 1;

		&--large {
			min-height: 4.4em;
		}
	}

	&__fraction {
		font-weight: 700;
		visibility: hidden;
		opacity: 0;
		transition: visibility .2s $ease, opacity .2s $ease;

		@include min-width(small) {
			visibility: visible;
			opacity: 1;
		}
	}

	&__grid-modifier {
		display: none;

		&.is-active {
			display: block;
		}
	}

}