.select {

	&__wrapper {
	  padding: 0;
	  position: relative;
	  @extend .button;
	  //padding-right: 2em;
	  text-align: left;

	  @include min-width(small) {
	  	min-width: 12.5em;
	  }

	  &::before {
			content: '';
			display: block;
			position: absolute;
			right: .7em;
			top: 50%;
			margin-top: -.7em;
			width: 1.4em;
			height: 1.4em;
			background-image: svg("chevron-down", "[fill]: #{$key}");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			pointer-events: none;
		}

		&:hover::before {
			background-image: svg("chevron-down", "[fill]: #{$dark-blue}");
		}

	}
}