.table {

	@include min-width(medium) {
		display: table;
		width: 100%;
	}

	&__row {
		padding: 1.25em 0;
		border-bottom: 3px solid $dark-blue;

		@include min-width(medium) {
			display: table-row;
			padding: 0;
			border: none;
		}
	}

	&__cell {

		margin-bottom: .75em;

		@include min-width(medium) {
			display: table-cell;
			padding: 1.25em .8em;
			margin: 0;
			border-bottom: 3px solid $dark-blue;

			&:nth-child(2),
			&:nth-child(3) {
				color: $medium-grey;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

	}

	@include min-width(medium) {
		&__row:last-child &__cell {
			border-bottom: none;
		}

		&__header &__cell {
			border-bottom: 3px solid $light-grey;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: .1em;
		}
	}

	&__header {
		display: none;
		@include min-width(medium) {
			display: table-header-group;
		}
	}

	&__header &__cell {
		color: inherit;
	}

	&__mobile-headline {
		margin-bottom: .1em;
		@include min-width(medium) {
			display: none;
		}
	}

}