.tabs {

	&__list {
		list-style-type: none;
		text-align: center;
	}

	&__item {
		display: inline-block;
	}

	&__button {
		position: relative;
		display: inline-block;
		padding: .8em 1.5em .8em 2.9em;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $medium-grey;

		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 1.3em;
			top: 50%;
			margin-top: -.5em;
			width: 1em;
			height: 1em;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			pointer-events: none;
		}

		&--markup::before {
			background-image: svg("code", "[fill]: #{$medium-grey}");
		}

		&--demo::before {
			background-image: svg("eye", "[fill]: #{$medium-grey}");
		}

		&.is-active {
			color: $light-grey;
			background: $very-dark-blue;
		}

		&--markup.is-active::before {
			background-image: svg("code", "[fill]: #{$light-grey}");
		}

		&--demo.is-active::before {
			background-image: svg("eye", "[fill]: #{$light-grey}");
		}

	}

	&__content {
		display: none;

		&.is-active {
			display: block;
		}
	}

}