.header {

	min-height: 80vh;
	padding: 3em 0;
	text-align: center;

	&__headline {

	}

	&__subline {
		margin-bottom: 1em;
		@include min-width(medium) {
			margin-left: auto;
			margin-right: auto;
			max-width: 60%;
		}
	}

	&__buttons {
		margin-bottom: 1em;
	}

	&__version {
		font-weight: 700;
		letter-spacing: .1em;
		color: $medium-grey;
		font-size: .85em;
	}

}